.place__row-block {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (21px * 2));
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 31px;
  padding-left: 21px;
}